<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
    <title>My Chat Bot</title>
</head>
<body>
    <h2>My Chat Bot</h2>
    <div>
        Hello! How can I help you today?
        <div id="chat">
        </div>
    </div>

        <p>Your message: </p>
        <textarea id="message" maxlength = '100'></textarea>
        <button id="send">Send</button>

</body>
</html>